@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap');
@import "tailwindcss";



@theme {
    --color-Neutral-900: #03012d;
    --color-Neutral-800: #272541;
    --color-Neutral-700: #312f4b;
    --color-Neutral-600: #3d3b5e;
    --color-Neutral-300: #aeaeb7;
    --color-Neutral-200: #d5d4d9;
    --color-Neutral-0: #ffffff;
    --color-Orange-500: #ff7c0a;
    --color-Blue-500: #4455da;
    --color-Blue-700: #2d1c9c;

    --font-dm-sans: "DM Sans", sans-serif;
    --font-bricolage-grotesque: "Bricolage Grotesque", sans-serif;

    --breakpoint-desktop: 1200px;
    --breakpoint-mobile: 420px;


}

@layer base {


    body {
        background-color: var(--color-Neutral-900);
        padding-inline: 10px;
        color: white;
        padding-bottom: 60px;
    }
}

@layer utilities {
    .scrollbar-custom::-webkit-scrollbar {
        width: 4px;
    }

    .scrollbar-custom::-webkit-scrollbar-track {
        background: var(--color-Neutral-800);

    }

    .scrollbar-custom::-webkit-scrollbar-thumb {
        background: var(--color-Neutral-600);
        border-radius: 10px;
    }





    .dropdown-item+.dropdown-item {
        margin-top: 0.4rem;
    }


    /* Firefox fallback */
    @supports not selector(::-webkit-scrollbar) {
        .scrollbar-custom {
            scrollbar-width: thin;
            scrollbar-color: var(--Neutral-600) var(--Neutral-800);
        }
    }
}
/* 
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 1000px var(--color-Neutral-800) inset !important;
  box-shadow: 0 0 0 1000px var(--color-Neutral-800) inset !important;
  -webkit-text-fill-color: var(--color-Neutral-0) !important;
  color: var(--color-Neutral-0) !important;
  caret-color: white !important} */